@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Mooli&family=Poppins&family=Satisfy&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://unpkg.com/aos@2.3.1/dist/aos.css');

*
{
    box-sizing: border-box;
}

body
{
    font-family: 'Poppins', sans-serif;
}

.h-150
{
    min-height: 150px !important;
    max-height: 150px !important;
}

.bi
{
    font-size: 20px !important;
    margin:9px;
}

.navbar-brand
{
    font-size: 20px !important;
}
.bg-about
{
    min-height: 350px !important;
    background-image: url('../images/about-strip.png');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-cloud
{
    min-height: 350px !important;
    background-image: url('../images/cloud-server.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-softwarei
{
    min-height: 350px !important;
    background-image: url('../images/software-integration.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-contact
{
    min-height: 350px !important;
    background-image: url('../images/contactus.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-text
{
    background-color: rgba(0,0,0,0.5) !important;
}

.header-text-white
{
    background-color: rgba(255,255,255,0.5) !important;
}

a.footer-link:link, a.footer-link:hover, a.footer-link:active, a.footer-link:visited
{
    text-decoration: none;
    color: black;
}

a.footer-link:hover
{
    text-decoration: none;
    color: green;
}

a.footer-link-dark:link, a.footer-link-dark:hover, a.footer-link-dark:active, a.footer-link-dark:visited
{
    text-decoration: none;
    color: white;
}

a.footer-link-dark:hover
{
    text-decoration: none;
    color: lime;
}